body{
  margin: 0;
  font:  normal 16px Arial sans-serif;
  color: #272727;
  background-image: linear-gradient(85deg, #B7AE9D 10%, #ACCECD 10%, #ACCECD 20%, white 20%, white 30%, #544E3E 30%, #544E3E 40%, #8A151B 40%, #8A151B 50%, #B7AE9D 50%, #B7AE9D 60%, #ACCECD 60%, #ACCECD 70%, white 70%, white 80%, #544E3E 80%, #544E3E 90%, #8A151B 90%);

}

article{
  margin: 0% 10%;
  padding: 30px 3% 60px 3%;
  background: white;

}
div{
  font:  normal 16px Arial sans-serif;
}
#base-section{
  display: flex;
  align-items: flex-end;
}
#image-user{
  max-width: 150px;
  margin-right: 20px;
}
#basic-info {
    display: flex;
    flex-direction: column;
    align-self: center;
}

#basic-info h1, h4, h3, p, address{
margin: 0;
font: normal 16px sans-serif;
}
#basic-info h1{
  font-weight: bold;
  font-size: 20px;
}
#main-info div{

}
#main-info h3{
  font-weight: bold;
  font-size: 16px;
  margin: 20px;

}
#main-info ul, ol{
  font-family: 'Roboto', sans-serif;
  color: #272727;
  margin: 20px;

}
#main-info div{
    font-family: 'Roboto', sans-serif;
    margin: 10px 0;
}
a{
    color:	#412151;
    text-decoration:  none;
}


.layers {
  position: fixed;
  left: 85vw;
  top: 15vh;
  transform: scaleY(0.5) scaleX(1.5);
  animation: scale ease-in-out 10s infinite;
}

@keyframes scale {
  50% {
    transform: rotateX(45deg) rotateZ(45deg) translate3d(0vh, 0vh, 15vh) scale(1);
  }
}
p {
  position: absolute;
  width: 10vw;
  height: 10vw;
  background: rgba(255, 0, 0, 0.25);
}

p:nth-child(0) {
  transform: rotateX(45deg) rotateZ(45deg) translate3d(0vh, 0vh, -102vh);
  filter: hue-rotate(0deg);
  animation: slide-6 ease-in-out 10s infinite;
}

@keyframes slide-6 {
  50% {
    transform: rotateX(45deg) rotateZ(45deg) translate3d(0vh, 0vh, 102vh) scale(0.2);
  }
}
p:nth-child(1) {
  transform: rotateX(45deg) rotateZ(45deg) translate3d(0vh, 0vh, -85vh);
  filter: hue-rotate(36deg);
  animation: slide-5 ease-in-out 10s infinite;
}

@keyframes slide-5 {
  50% {
    transform: rotateX(45deg) rotateZ(45deg) translate3d(0vh, 0vh, 85vh) scale(0.25);
  }
}
p:nth-child(2) {
  transform: rotateX(45deg) rotateZ(45deg) translate3d(0vh, 0vh, -68vh);
  filter: hue-rotate(72deg);
  animation: slide-4 ease-in-out 10s infinite;
}

@keyframes slide-4 {
  50% {
    transform: rotateX(45deg) rotateZ(45deg) translate3d(0vh, 0vh, 68vh) scale(0.3);
  }
}
p:nth-child(3) {
  transform: rotateX(45deg) rotateZ(45deg) translate3d(0vh, 0vh, -51vh);
  filter: hue-rotate(108deg);
  animation: slide-3 ease-in-out 10s infinite;
}

@keyframes slide-3 {
  50% {
    transform: rotateX(45deg) rotateZ(45deg) translate3d(0vh, 0vh, 51vh) scale(0.35);
  }
}
p:nth-child(4) {
  transform: rotateX(45deg) rotateZ(45deg) translate3d(0vh, 0vh, -34vh);
  filter: hue-rotate(144deg);
  animation: slide-2 ease-in-out 10s infinite;
}

@keyframes slide-2 {
  50% {
    transform: rotateX(45deg) rotateZ(45deg) translate3d(0vh, 0vh, 34vh) scale(0.4);
  }
}
p:nth-child(5) {
  transform: rotateX(45deg) rotateZ(45deg) translate3d(0vh, 0vh, -17vh);
  filter: hue-rotate(180deg);
  animation: slide-1 ease-in-out 10s infinite;
}

@keyframes slide-1 {
  50% {
    transform: rotateX(45deg) rotateZ(45deg) translate3d(0vh, 0vh, 17vh) scale(0.45);
  }
}
p:nth-child(6) {
  transform: rotateX(45deg) rotateZ(45deg) translate3d(0vh, 0vh, 0vh);
  filter: hue-rotate(216deg);
  animation: slide0 ease-in-out 10s infinite;
}

@keyframes slide0 {
  50% {
    transform: rotateX(45deg) rotateZ(45deg) translate3d(0vh, 0vh, 0vh) scale(0.5);
  }
}
p:nth-child(7) {
  transform: rotateX(45deg) rotateZ(45deg) translate3d(0vh, 0vh, 17vh);
  filter: hue-rotate(252deg);
  animation: slide1 ease-in-out 10s infinite;
}

@keyframes slide1 {
  50% {
    transform: rotateX(45deg) rotateZ(45deg) translate3d(0vh, 0vh, -17vh) scale(0.55);
  }
}
p:nth-child(8) {
  transform: rotateX(45deg) rotateZ(45deg) translate3d(0vh, 0vh, 34vh);
  filter: hue-rotate(288deg);
  animation: slide2 ease-in-out 10s infinite;
}

@keyframes slide2 {
  50% {
    transform: rotateX(45deg) rotateZ(45deg) translate3d(0vh, 0vh, -34vh) scale(0.6);
  }
}
p:nth-child(9) {
  transform: rotateX(45deg) rotateZ(45deg) translate3d(0vh, 0vh, 51vh);
  filter: hue-rotate(324deg);
  animation: slide3 ease-in-out 10s infinite;
}

@keyframes slide3 {
  50% {
    transform: rotateX(45deg) rotateZ(45deg) translate3d(0vh, 0vh, -51vh) scale(0.65);
  }
}
p:nth-child(10) {
  transform: rotateX(45deg) rotateZ(45deg) translate3d(0vh, 0vh, 68vh);
  filter: hue-rotate(360deg);
  animation: slide4 ease-in-out 10s infinite;
}

@keyframes slide4 {
  50% {
    transform: rotateX(45deg) rotateZ(45deg) translate3d(0vh, 0vh, -68vh) scale(0.7);
  }
}
p:nth-child(11) {
  transform: rotateX(45deg) rotateZ(45deg) translate3d(0vh, 0vh, 85vh);
  filter: hue-rotate(396deg);
  animation: slide5 ease-in-out 10s infinite;
}

@keyframes slide5 {
  50% {
    transform: rotateX(45deg) rotateZ(45deg) translate3d(0vh, 0vh, -85vh) scale(0.75);
  }
}
