body{
  margin: 0;
}
.app {
  color: var(--text-primary);
  background-color: var(--background);
  font-size: large;
  font-family: "Noto Sans Mono", monospace;
  font-weight: 400;
  font-style: normal;
  transition: all .5s;
  margin: 0;
  padding: 0;
}

button {
  font-family: "Noto Sans Mono", monospace;
  color: var(--text-primary);
  background-color: var(--background);
  border: 2px var(--text-primary) solid;
  float: right;
  font-style: normal;
  transition: all .5s;
}

.title {
  background-color: var(--accent);
  font-size: 18pt;
  padding:  0.4em 0.7em;
  display: inline-block;
  margin: 0.7em 0;
}

.title-information-block{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-border-line{
  height: 2px;
  width: 100%;
  background-color: var(--accent);
}

.header{
  display: flex;
  margin: 40px;
}

.header-description{
  padding: 25px;
  z-index: 1;
}

.signature{
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1{
  font-family: "Noto Sans Mono", monospace;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

h2 {
  font-family: "Noto Sans Mono", monospace;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: var(--text-secondary);
}

 img {
   z-index: 1;
 }

  .background-signature {
    position: absolute;
    height: 165px;
    width: 100%;
    z-index: 0;
    top: 0;
    left: 0;
    background-color: var(--accent);
  }

button{
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
}
