.container-download-button {
  position: fixed;
  right: 15px;
  bottom: 55px;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-download-button button {
  background-color:  var(--background);
}

.container-download-button span{
  color:  var(--text-primary);
  font-weight: 600;
}