.theme-container {
  position: absolute;
  right: 15px;
  top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
}

.language-container {
    position: absolute;
    right: 100px;
    top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
}

.btn {
  width: 80px;
  height: 40px;
  cursor: pointer;
  background: transparent;
  border: 1px solid var(--text-secondary);
  outline: none;
}

.btn:hover {
  transition: 1s ease-in-out;
  background: var(--shadow);
}