.container {
  position: absolute;
  right: 15px;
  top: 15px;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
}

.btn {
  width: 180px;
  height: 40px;
  cursor: pointer;
  background: transparent;
  border: 1px solid var(--text-secondary);
  outline: none;
  transition: 1s ease-in-out;
}

svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #fff;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

.btn:hover {
  transition: 1s ease-in-out;
  background: var(--shadow);
}

.btn:hover svg {
  stroke-dashoffset: -480;
}

.btn span {
  color: var(--text-secondary);
  font-size: 12pt;
  font-weight: 300;
}