.contact-item{
    display: flex;
    align-items: center;
}

.contact-item p{
    margin: 10px 0;
}

a:active,
a:hover,
a {
    text-decoration: none;
    margin: 10px 0;
    color: var(--text-primary);
}

a:hover{
    color: var(--accent);
}

.contact-item svg {
    fill: var(--text-primary);
    position: unset;
    margin-right: 10px;

}