:root {
  --background: white;
  --text-primary: #15020D;
  --text-secondary: #B72E7C;
  --accent: #70003F;
  --shadow: #460228;
}

[data-theme='dark'] {
    --background: #1E1E1E;
    --text-primary: #F5F5F5;   /* главный текст */
    --text-secondary: #CFCFCF; /* вторичный текст — светлее и заметнее */
    --accent: #4DA6FF;
    --shadow: #00000080;
}
[data-theme='light'] {
  --background: white;
  --text-primary: #15020D;
  --text-secondary: #4D4A46;
  --accent: #EAE1D4;
  --shadow: #75716B;
}