:root {
  --background: white;
  --text-primary: #15020D;
  --text-secondary: #B72E7C;
  --accent: #70003F;
  --shadow: #460228;
}

[data-theme='dark'] {
  --background: #15020D;
  --text-primary: white;
  --text-secondary: #7D7D7D;
  --accent: #490029;
  --shadow: #460228;
}

[data-theme='light'] {
  --background: white;
  --text-primary: #15020D;
  --text-secondary: #5D5D5D;
  --accent: #E39DC4;
  --shadow: #B72E7B;
}