.main-information{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.main-information-block{
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  flex-grow: 3;
  margin: 40px;
}

.extra-information{
  flex-grow: 1;
  width: 100%;
  align-self: baseline;
}