@media (max-width:961px) {
  .app {
    font-size: small;
    width: 100%;
  }

  .title {
    font-size: 14pt;
  }

  .header img {
    display: none;
  }

  .background-signature {
    height: 130px;
  }

  .main-information {
    display: block !important;

  }

  .header-description {
    padding: 0;
  }

  .extra-information {
    width: auto !important;
  }
}

@media (max-width:481px) {
  .title {
    font-size: 12pt;
  }

  .header img {
    display: none;
  }

  .title-basic-information-custom-list {
    font-size: 14pt !important;
  }

  .title-description-custom-list {
    font-size: 14pt !important;
  }

  .custom-list {
    flex-direction: column;
  }

  .basic-information-custom-list {
    width:auto !important;
    align-items: center !important;
  }
  .container-download-button {
    display: none !important;
  }
}