@media print {
  button {
    display: none !important;
  }

  .app {
    font-size: small !important;
    color: black !important;
  }

  .header {
    margin: 0;
    padding: 0;
  }

  .header img {
    width: 170px;
    height: 170px;
  }

  .header-description {
    padding: 0 0 0 15px;
    margin: 0;

  }

  h1 {
    margin: 0;
    padding: 0;
  }

  .signature {
    height: auto;
    margin-bottom: 10px;

    h1 {
      font-size: 14pt;
    }
  }

  .background-signature {
    display: none;
  }

  .title {
    font-size: 14pt !important;
    padding: 0;
    margin: 0;
  }

  .main-information {
    display: block !important;
    flex-direction: column;
  }

  .main-information-block {
    padding: 0 !important;
    margin: 0 !important;
  }

  .extra-information {
    display: flex !important;
    flex-direction: column-reverse !important;
    justify-content: center !important;

    .information-block-skills, .information-block-contact {
      display: none !important;
    }

    .title {
      margin-top: 10px !important;
    }

    ul {
      display: flex !important;
      padding-left: 10px !important;

      li {
        margin: 0 10px;
        width: 100% !important;
      }

      li::before {
        content: none !important;
      }
    }
  }

  .title-basic-information-custom-list {
    font-size: 14pt !important;
  }

  .custom-list, .content-description-custom-list {
    margin: 0 !important;
    padding: 0 !important;
  }

  .title-description-custom-list {
    font-size: 14pt !important;
  }

  .title {
    font-size: 14pt !important;
  }

  .wrapper-download-button, .container-download-button, .theme-container {
    display: none !important;
  }
  .language-container {
    ::after {
      color: black;
      content: "Email: koverchik.o@gmail.com";
    }
  }

  .basic-information-custom-list {
    width: 150px !important;
  }
}